body{
    margin: 0px;
    padding: 0;
}
.cart{
     margin:10px;
     padding:20px;
     border-radius: 20px;
     background-color:#fff;
     color:#000;
     text-align: center;
}
.cart button{
    background: #A610E1;
    color: antiquewhite;
    border-radius: 5px;
}




@media screen and (max-width: 300px) {
    .cart{
        margin-bottom:5px;
        padding:30px;
        border-radius: 20px;
        background-color:#fff;
        color:#000;
        text-align: center;
   }
   .cart h3{
       font-size: 20px;
       color:#A610E1;
   }
  }