.cart{
     margin:10px;
     padding:20px;
     border-radius: 20px;
     background-color:#fff;
     color:#000;
     text-align: center;
}
.cart button{
    background: #A610E1;
    color: antiquewhite;
    border-radius: 5px;
}