
body{
    margin: 0;
    padding: 0;
   
    
}
.main-area{
    background: #440c5a;
}
.home{
   
}
.row{
 margin: 50px;
}


@media screen and (max-width: 300px) {
    .row{
        margin: 0;
        
    }
  }