
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.cover-logo{
    background: linear-gradient(rgba(22, 4, 29, 0.3), rgba(135, 80, 156, 0.3)), url(../image/thomas-serer-r-xKieMqL34-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% center;
    width: 100%;
    height: 300px;
    position: relative;
}
.header{
    position:absolute;
    color: aliceblue;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}